<!-- every file in views folder has to name extension's name as .ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJSBasic</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Hello world from TuanBink</h1>
    <h2> <%= title1 %></h2>

    <!-- <% let name = "" %>
    <% if(1 < 2) name = "pearldeBink" %>can place in tag p as well -->
    <p> Name : <%= name %> </p>

</body>
</html>